@model List<ProductReview>
@{
    ViewData["Title"] = "Review";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1>Reviews</h1>

<div class="container-fluid">

    <div class="row">
        @foreach (var review in Model)
        {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@review.FullName - @review.Email</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@review.Rate</h6>
                    <p class="card-text">@review.Message</p>
                    <a  asp-action="index" class="btn btn-primary">Back</a>

                    <form asp-action="DeleteReview" method="post">
                        <input type="hidden" name="id" value="@review.Id"/>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        }


    </div>
</div>

