
@model Settings
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body ">
            <form method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.About"></label>
                        <input asp-for="@Model.About" class="form-control" placeholder="Name">
                        <span asp-validation-for="@Model.About" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.Adress"></label>
                        <input asp-for="@Model.Adress" class="form-control" placeholder="Name">
                        <span asp-validation-for="@Model.Adress" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.Number"></label>
                        <input asp-for="@Model.Number" class="form-control" placeholder="Name">
                        <span asp-validation-for="@Model.Number" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.TestimonialAbout"></label>
                        <input asp-for="@Model.TestimonialAbout" class="form-control" placeholder="Name">
                        <span asp-validation-for="@Model.TestimonialAbout" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.TestimonialName"></label>
                        <input asp-for="@Model.TestimonialName" class="form-control" placeholder="Name">
                        <span asp-validation-for="@Model.TestimonialName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.TestimonialTitle"></label>
                        <input asp-for="@Model.TestimonialTitle" class="form-control" placeholder="Name">
                        <span asp-validation-for="@Model.TestimonialTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.VideoUrl"></label>
                        <input asp-for="@Model.VideoUrl" class="form-control" placeholder="Name">
                        <span asp-validation-for="@Model.VideoUrl" class="text-danger"></span>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


}