@model CategoryCreateViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form method="post">
        <input  type="hidden" value="@ViewBag.Id" name="id"/>
        <div class="form-group">
            <label asp-for="@Model.Order"></label>
            <input class="form-control" asp-for="@Model.Order">
            <span asp-validation-for="@Model.Order" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input class="form-control" asp-for="@Model.Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>


